body{
    color: darkblue;
}
.menu{
    display: flex;
    justify-content: space-around;
    background-color: turquoise;
    font-size: 25px;
    
}
.menu a{
    text-decoration: none;
    color: rgb(198, 221, 240);
    font-family: 'Courier New', serif;
    font-weight: bold;
    display: block;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100%;
}
.menu a:hover{
    background-color: rgb(95, 17, 17);
}

.page{
    width: 100%;
    max-width: 1960px;
    background-color: gainsboro;
    text-align: center;
    min-height: 600px;
    min-width: 330px;
}
h1, h3{
    color: rgb(71, 93, 110);
}

/*Strona HOME*/
.photo{
    display: flex;
    justify-content: center;
}
.photo img{
    border-style: inset;
    border-color: rgb(71, 93, 110);
    border-width: 7px;
}
.about{
    display: flex;
    justify-content: center;
    background-color: ivory;
    min-width: 220px;
    margin: 50px;
    padding: 0 10px;
    color: rgb(71, 93, 110);
    font-size: 20px;
    text-align: justify;
    border-style: inset;
    border-color: rgb(71, 93, 110);
    border-width: 7px;
}
/*Strona CV*/
.cv2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    min-width: 220px;
    margin: 50px;
    padding: 0 10px;
    background-color: ivory;
}
.pole{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-flow: column;
    max-width: 95%;
}
.pole h3{
    background-color: rgb(198, 221, 240);
    width: 95%;
}
ul{
    display: flex;
    text-align: left;
    flex-flow: column;
    width: 90%;
    flex-flow: column;
    word-wrap: break-word;
}
/*Strona CONTACT*/
.contact2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding: 25px;
}
.contact2 img{
    padding: 20px 40px 50px 60px;
}

@media (max-width: 390px) {

.menu{
    flex-direction: column;
}
/*Strona CONTACT*/
.contact2{
    display: flex;
    flex-direction: column;
    font-size: 25px;
    padding: 25px;
}
}